

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px 0;
  gap: 10px;
}
.movie-card {
  width: 30vw;
}
input.search-bar {
  width: 20rem;
  border: 1px solid;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px 10px;
  display: flex;
  outline: none;
  position: relative;
  top: 0;
}